{% set footerData = footerData|default('') %}
{% set footerClass = footerClass|default('clearfix') %}
{% set footerParent = footerParent|default('') %}
{% set content = content|default(null) %}
{% set contentPosition = contentPosition|default(1) %}
{% set contentClass = contentClass|default("") %}
{% set isVisible = false %}
{% set includedContent = includedContent|default(null) %}
{% set obj = obj|default({}) %}

<div class="m-footer {{footerClass}}">
	{% for data in footerData %}
        {% if content != null %}
            {% if loop.index == contentPosition and isVisible == false %}
                <div class="m-footer_box {{contentClass}}">
                    <h3 class="m-footer_headline">{{content.title|raw}}</h3>
                    <div class="m-footer_content">
                        {{content.content|raw}}
                    </div>
                </div>
                {% set isVisible = true %}
            {% endif %}
            <div class="m-footer_box {{data.footerBoxClass}}">
                <h3 class="m-footer_headline">{{data.title|raw}}</h3>
                {% for item in data.items %}
                    {% if loop.first %}<ul class="m-footer_content {% if not data.noJS %}js-footer_content{% endif %}">{% endif %}
                        <li><a href="#">{{item.name|raw}}</a></li>
                    {% if loop.last %}</ul>{% endif %}
                {% endfor %}
                {{ data.content|raw }}
            </div>
            {% if loop.last and isVisible == false %}
                <div class="m-footer_box {{contentClass}}">
                    <h3 class="m-footer_headline">{{content.title|raw}}</h3>
                    <div class="m-footer_content">
                        {{content.content|raw}}
                        {% if includedContent %}{% include ''~ includedContent ~'' with obj %}{% endif %}
                    </div>
                </div>
                {% set isVisible = true %}
            {% endif %}
        {% else %}
            <div class="m-footer_box {{data.footerBoxClass}}">
                <h3 class="m-footer_headline">{{data.title|raw}}</h3>
                {% for item in data.items %}
                    {% if loop.first %}<ul class="m-footer_content {% if not data.noJS %}js-footer_content{% endif %}">{% endif %}
                    <li><a href="#">{{item.name|raw}}</a></li>
                    {% if loop.last %}</ul>{% endif %}
                {% endfor %}
                {{ data.content|raw }}
            </div>
        {% endif %}
	{% endfor %}
</div>
